location    = "westeurope"
project     = "azure-landing-zone"
environment = "dev"
owner       = "anselem"
managed_by  = "terraform"
cost_center = "lab"
phase       = "poc"
trusted_admin_ip = "87.122.27.164/32"
admin_username = "azureuser"
ssh_public_key = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIGIgdcFJUnUq7jYxfWEh9dd2sf+k3U+N6zq+9dkBgYr3 jumpbox@jumpbox"
